{{define "footer"}}
<footer class="flex space-x-4 justify-center">
    <a href="http://com-http.us:4477">us</a>
    <a href="http://com-http.org:4477">org</a>
    <a href="http://com-http.network:4477">network</a>
    <a href="http://com-http.exchange:4477">exchange</a>
    <a href="http://com-http.live:4477">live</a>
    <a href="http://com-http.download:4477">download</a>
</footer>
{{end}}